.bg-image {
  background: url("https://c1.wallpaperflare.com/preview/570/413/91/interior-theatre-theater-empty-theater.jpg");
  padding-bottom: 90px;
  margin-top: 112px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.mapouter-salem {
  margin-left: 90px;
}

.mapouter-salem,
.mapouter-chennai {
  position: relative;
  text-align: right;
  width: 400px;
  height: 400px;
  border-radius: 5%;
  box-shadow: 0 6px 10px 0 rgba(241, 8, 8, 0.269), 0 8px 22px 0 rgba(211, 9, 9, 0.26);
  opacity: 0.8;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 400px;
  height: 400px;
  border-radius: 5%;
}

.gmap_iframe {
  width: 400px;
  height: 400px;
  border-radius: 5%;
}

.container {
  margin-top: 13px;
}

.btn {
  margin-top: 10px;
  border: 1px solid rgba(13, 9, 0, 0.491);
  border-radius: 25px;
  height: 25px;
  width: 90px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-name-state {
  margin-left: 47px;
  color: White;
  font-size: 19px;
}

.label-name-city {
  margin-left: 49px;
  color: White;
  font-size: 19px;
}

.label-name-theatre {
  margin-left: 36px;
  color: White;
  font-size: 19px;
}

option {
  text-align: center;
  padding-right: 10px;
}

.form-control {
  border-radius: 6px;
  height: 25px;
  width: 230px;
}

select {
  margin: 10px 0px;
  border-radius: 6px;
  height: 25px;
  width: 230px;
}

.btn:hover {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

fieldset {
  background-color: rgba(7, 2, 0, 0.692);
  border-radius: 7%;
  /* margin-top: 100px; */
  height: max-content;
  width: max-content;
  box-shadow: 0 6px 10px 0 rgba(241, 8, 8, 0.269), 0 8px 22px 0 rgba(211, 9, 9, 0.26);
}

/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .bg-image {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: 60px;
  }

  .mapouter-salem {
    margin-left: 0px;
  }

  .mapouter-salem,
  .mapouter-chennai {
    margin-left: 30px;
  }

  fieldset {
    margin-left: 70px;
    margin-bottom: 40px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none;
    width: 400px;
    height: 400px;
    border-radius: 5%;
  }

  .gmap_iframe {
    width: 400px;
    height: 400px;
    border-radius: 5%;
  }
}
